.nav-wrapper {
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.nav-wrapper > ul,
.nav-wrapper > ul > li {
  display: inline-block;
}

.nav__dropdown {
  padding: 2rem;
  white-space: nowrap;
  top: 80%;
  right: 0;
  background-color: #068df6;
  transition: 300ms cubic-bezier(0.25, 2, 0.25, 1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(-30deg);
  transform: rotateX(-30deg);
  opacity: 0;
}

.nav__dropdown.show {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0 20px 0 rgba(49, 49, 49, 0.25);
  transition: 300ms cubic-bezier(0.25, 2, 0.25, 1), box-shadow 1000ms cubic-bezier(0.25, 2, 0.25, 1);
}

.nav__dropdown a:focus {
  box-shadow: 0 0 3px white, inset 0 0 3px white;
}

.nav__dropdown:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid #068df6;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: '';
  top: -6px;
  right: 0;
}

.nav__dropdown-wrapper {
  display: inline-block;
  -webkit-perspective: 500px;
  perspective: 500px;
}

.nav__dropdown-toggle {
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  border: none;
  background: none;
  padding-right: 18px;
  color: #fff;
  background-image: url("images/sort-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px;
}

.nav__dropdown li {
  display: block;
}

.nav__dropdown a {
  display: inline-block;
  padding: 8px 12px;
}




/* ----------- */
.subm {
  position: relative;
}

.nav-wrapper ul.sublist {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #000;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(15px);
  -webkit-transform: translateX(-50%) translateY(15px);
  -moz-transform: translateX(-50%) translateY(15px);
  -ms-transform: translateX(-50%) translateY(15px);
  -o-transform: translateX(-50%) translateY(15px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.nav-wrapper ul.sublist li {
  padding: 0;
}

.nav-wrapper ul.sublist li a {
  padding: 8px 15px;
}

.nav-wrapper ul.sublist li a:hover {
  background-color: red
}

.subm:hover ul.sublist {
  opacity: 1;
  pointer-events: all;
  transform: translateX(-50%) translateY(0);
  -webkit-transform: translateX(-50%) translateY(0);
  -moz-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translateY(0);
  -o-transform: translateX(-50%) translateY(0);
}

.nav-wrapper .nav__dropdown ul.sublist {
  position: relative;
  opacity: 1;
  pointer-events: all;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  left: 0;
  display: none;
}

.nav-wrapper .nav__dropdown .subm:hover ul.sublist {
  display: block;
}
